@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");
:root {
  --header-color: #f03c42;
  --space-color: #222374;
  --card-space-color: #cccccc;
  --footer-color: #000000;
  --color-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  max-width: 960px;
  height: 100px;
  background-color: var(--header-color);
  color: var(--color-white);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 120px;
}
.container {
  max-width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.space {
  background-color: var(--space-color);
  flex-direction: column;
  padding: 8px 120px;
}
.space h1 {
  color: var(--color-white);
  padding-left: 20px;
}
.model {
  background-color: var(--color-white);
  flex-direction: column;
  padding: 8px 120px;
}
.container-model h1 {
  color: var(--header-color);
  padding: 20px;
}
.model-card {
  background-color: var(--space-color);
  color: var(--color-white);
  margin: 5px;
  border-radius: 8px;
  padding: 8px;
}
.space-card {
  background-color: #cccccc;
  margin: 10px;
  border-radius: 8px;
  padding: 8px;
}
.midia-margin {
  display: flex;
  align-items: center;
  padding: 5px;
}
a,a:hover {
  text-decoration: none;
  color: unset;
}
footer {
  max-width: 960px;
  padding: 20px 20px;
  background-color: black;
  color: var(--color-white);
  display: flex;
  margin: 0 auto;
}
.container-footer {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-p {
  text-align: center;
}
