@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header {
  height: 100px;
  background-color: red;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 120px;
}

.container-model {
  background-color: white;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 8px 120px;
}
.container-model h1 {
  color: red;
  padding: 20px;
}

.container-space {
  background-color: #070972;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  padding: 8px 120px;
  flex-direction: column;
}
.container-space h1 {
  
  color: white;
  padding-left: 20px;
}

.model {
  background-color: #070972;
  color: white;
  margin: 10px;
  border-radius: 8px;
  padding: 8px;
}
.space {
  background-color: #cccccc;
  margin: 20px;
  border-radius: 8px;
  padding: 8px;
}
.midia-margin {
  display: flex;
  align-items: center; 
  padding: 5px;
}
a, a:hover {
  text-decoration: none;
  color: unset;
}
footer {
  padding: 60px 20px;
  background-color: black;
  color: white;
  display: flex;
}

.container-footer {
width: 100%;
max-width: 960px;
margin: 0 auto;
flex-direction: column;
align-items: center;
}
.footer-content{
display: flex;
justify-content: space-between;
}
.footer-p{
  text-align: center;
}
